.sectionTech {
  display: flex;
  flex-direction: column;
  width: 73%;
  height: 263px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 58px;

  h1 {
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    li {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 12px;
      padding: 10px 15px;
      gap: 2.5rem;
      flex-basis: calc(23.3333% - 10px);
      h1 {
        font-size: 19px;
        font-weight: 800;
      }
    }
    li:hover {
      background-color: rgb(29, 29, 29);
    }
  }
}
